<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MMU Thrift Exchange</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"> 
  <style>
    html, body {
      height: 100%;
      margin: 0;
    }
    body {
      display: flex;
      flex-direction: column;
    }
    main {
      flex: 1; 
    }
    footer h5 {
      font-family:'Times New Roman', Times, serif; 
      letter-spacing: 1px;
    }
  </style>
</head>
<body class="bg-light">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand">MMU Thrift Exchange</a>
      <div class="ms-auto">
        <a href="{{ url_for('signup') }}" class="btn btn-outline-light me-2">Sign Up</a>
        <a href="{{ url_for('login') }}" class="btn btn-light">Login</a>
      </div>
    </div>
  </nav> 
  
  <main>
    <div class="container text-center mt-5">
      <h1 class="fw-bold">Welcome to <br>MMU Thrift Exchange! 🛍️</h1>
      <img src="{{ url_for('static', filename='logo.png') }}" 
         alt="MMU Thrift Exchange Logo"
         class="img-fluid rounded shadow-sm my-4"
         style="max-width: 300px; height: auto;"> 
      <p class="lead">Buy and sell preloved items among MMU students safely and conveniently.</p> 
    </div>
  </main>


  <footer class="bg-primary text-white text-center py-3">
    <div class="container">
      <h5 class="mb-3">CONNECT WITH US</h5>
      <div class="d-flex justify-content-center align-items-center gap-2 mb-2">
        <img src="{{ url_for('static', filename='instagram_icon.png') }}" 
             alt="Instagram Icon"
             style="width: 20px; height: auto; margin-right: 8px;">
          <a href="https://www.instagram.com/rroshinii_" target="_blank" 
             class="text-white">@rroshinii_</a> | 
          <a href="https://www.instagram.com/kaviyashini_nanban" target="_blank" 
             class="text-white">@kaviyashini_nanban</a>
        </div>
      </div>
      <p class="mb-0 small">&copy; 2025 MMU Thrift Exchange</p>
    </div>
  </footer>

</body>
</html>


